:root[data-light-mode="false"] {
  --main-bg: #1e1f26;
  --font-color: #fff;
  --quantity: #101014;
  --item-price: #9275d1;
  --item-highlight-border: 1px solid rgb(105, 223, 62);
  --item-hi-box-shadow:inset 0px 0px 2px 1px rgba(120, 255, 71, 0.3);
  --item-border: #4f5164;
  --calc-btn-bg: #4a4c5e;
  --calc-btn-border: #696d86;
}

:root[data-light-mode="true"] {
  --main-bg: #e7dcd4;
  --font-color: rgb(22, 38, 46);
  --quantity: #ffffff;
  --item-price: #037179;
  --item-highlight-border: 1px solid rgb(251, 88, 142);
  --item-hi-box-shadow: inset 0px 0px 2px 1px rgb(246, 162, 93);
  --item-border: #222022;
  --calc-btn-bg: #e7beb8;
  --calc-btn-border: #e4a38f;
}

body {
  background-color: var(--main-bg);
  color: var(--font-color);
}

h1 {
  width: 33%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
.order-total-container {
  width: 350px;
  margin: 10px auto;
  position: relative;
}
.order-total-container>span {
  vertical-align: middle;
}
.order-total {
  display: inline-block;
  background-color: var(--quantity);
  border-radius: 5px;
  text-align: center;
  width: 100px;
}

.tooltiptext {
  display:none;
  width: 70px;
  background-color: rgb(82, 172, 53);
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  margin-left: 56px;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(82, 172, 53) transparent transparent transparent;
}

.calc-btn, .clear-totals {
  background-color: var(--calc-btn-bg);
  border-color: var(--calc-btn-border);
  border-radius: 5px;
  color: var(--font-color);
}

.calc-btn a, .clear-totals a {
 color: var(--font-color);
 text-decoration:none;
}
button:focus {
  outline: 0;
}

.sorting-options, .new-sorting-options {
  width: 250px;
  margin: 10px auto;
}
.show-specific-select option {
  color: black;
}
.show-specific-select-hide-toggle {
  display: none !important;
}
.outer-container {
  max-width: 1400px;
}
.item {
  border: 1px solid var(--item-border);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  padding: 7px 5px 5px 5px;
  margin: 5px auto;
  font-size: 16px;
  align-self: center;
}
.item-name {
  display: inline-block;
  width: 60%;
} 
.item-price {
  color: var(--item-price);
  font-family: arial;
  margin: 0 5px 0 5px;
} 
.quantity {
  background-color: var(--quantity);
  border-radius: 5px;
  border: none;
  color: var(--font-color);
  display: inline-block;
  width: 40px;
  margin-left: auto;
  max-height: 25px;
  text-align: center;
}

.info {
  margin-left: 10px;
  position: absolute;
  top: 0;
}
.info a {
  color: var(--item-price);
}

.highlight {
  box-shadow: var(--item-hi-box-shadow);
  border: var(--item-highlight-border);
}

.card {
  background: none;
  border-color: var(--item-border);
}

.card-title {
  margin: auto;
  margin-bottom: .55rem;
}

.card-body, .info {
  padding: 0 0 0 0.25em;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color:#a6d175;
  background-color:#9ad175;
}

#autocomplete {
  width: 250px;
}

.autocomplete-container {
  width: 500px;
  max-width: 500px;
  margin: auto;
}

.autocomplete-input-container {
  width: 300px;
  margin: auto;
}

#eac-container-autocomplete {
  width: 250px;
}

#eac-container-autocomplete ul {
  color: black;
}

.entry-item-list {
  border: 1px solid var(--item-border);
  margin-top: 20px;
  padding: 10px;
}

.entry-item-cancel {
  padding: .10rem .5rem;
  margin-right: 5px;
}


/*  light mode classes  */
.light-mode {
  background-color: var(--main-bg-light);
  color: var(--font-color-light);
}

.item-light {
  border-color: var(--border-color-light);
}
.item-price-light {
  color: var(--item-price-light);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 400px) {
  h1 {
    width: 100%;
  }
  .order-total-container {
    width: 295px;
  }
}

@media only screen and (max-width: 550px) {
  .info {
    position:static;
    margin: auto;
    width: 230px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1190px;
  }
}
