:root {
  --main-bg: #1e1f26;
  --quantity: #101014;
  --item-price: #9275d1;
  --border: #696d86;
  --primary: #8FC74F;
  --secondary: #C270CE;
  --tertiary: #69B0E8;
}
body {
  background-color: var(--main-bg);
  color: white;
}
h1 {
  width: 33%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
.order-total-container {
  width: 350px;
  margin: 10px auto;
}
.order-total-container>span {
  vertical-align: middle;
}
.order-total {
  display: inline-block;
  background-color: #101014;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
.calc-btn, .clear-totals {
  background-color: #878787;
  border-color: #696d86;
  border-radius: 5px;
  color: white;
}
.sorting-options, .new-sorting-options {
  width: 250px;
  margin: 10px auto;
}
.show-specific-select option {
  color: black;
}
.show-specific-select-hide-toggle {
  display: none !important;
}
.outer-container {
  max-width: 1400px;
}
.item {
  border: 1px solid #4f5164;
  border-radius: 5px;
  display: flex;
  padding: 10px 5px 5px 5px;
  margin: 5px auto;
  font-size: 16px;
  align-self: center;
}
.item span:nth-child(1) {
  display: inline-block;
  width: 60%;
} 
.item-price {
  color: var(--item-price);
  font-family: arial;
  margin: 0 5px 0 5px;
} 
.quantity {
  background-color: var(--quantity);
  border-radius: 5px;
  border: none;
  color: white;
  display: inline-block;
  width: 40px;
  margin-left: auto;
  max-height: 25px;
  text-align: center;
}

.info {
  height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.info a {
  color: #dac8ff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 400px) {
  h1 {
    width: 100%;
  }
  .order-total-container {
    width: 295px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1190px;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff0066;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff0066;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.compact {
  margin: 0 10px 5px 10px;
  height: 400px;
  max-width: 340px;
  border-radius: 5px;
  padding: 4px;
  overflow-y: scroll;
}
.compact-container {
  max-width: 1019px;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--item-price);
  border-radius: 10px;
}

div.inner-container > *::-webkit-scrollbar {
  width: 10px;
}
div.inner-container > *::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* compact view mode for borders and scrollbar thumb colors */
#breed.compact {
  border: 1px solid var(--item-price);
}
#primary.compact {
  border: 1px solid var(--primary);
}
#secondary.compact {
  border: 1px solid var(--secondary);
}
#tertiary.compact {
  border: 1px solid var(--tertiary);
}
#primary.compact::-webkit-scrollbar-thumb {
  background: var(--primary);
}
#secondary.compact::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
#tertiary.compact::-webkit-scrollbar-thumb {
  background: var(--tertiary);
}